@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f7f6f2];
  }
  .nav-icon {
    @apply w-6 h-6;
  }

  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 6px solid black;
    border-right-color: #4557ff;
    animation: rotate 1s infinite linear;
  }
}
